<%= link_to "â† #{@chat.playlist.title}", playlist_path(@chat.playlist) %>

<h1 id="chat_title"><%= @chat.title %></h1>

<div id="new_message_container">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: "Ask a question", required: true, placeholder: "I want to discover new muzik" %>
    <%= f.button :submit, 'Ask LLM', class: 'btn btn-primary' %>
  <% end %>
</div>
