<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1><%= @playlist.title %></h1>
      <%= bookmark_button(@playlist) %>
    </div>
    <%= raw((@playlist.content)) %>
    <hr>
    <% video_ids = @playlist.tracks.map { |t| t.url.split("v=").last }.join(",") %>
    <h2>Tracks (<%= @playlist.tracks.count %>)</h2>
    <button class="btn btn-primary mb-3"
        onclick="document.getElementById('player').style.display = 'block'">
      ▶️ Play All Inside App
    </button>
    <div id="player" style="display:none; margin-bottom: 20px;">
      <iframe width="100%" height="360"
          src="https://www.youtube.com/embed?playlist=<%= video_ids %>&autoplay=1"
          frameborder="0"
          allowfullscreen>
      </iframe>
    </div>
    <div id="tracks" class="mb-4">
      <% if @playlist.tracks.any? %>
        <% @playlist.tracks.each do |track| %>
          <div class="card mb-2 p-3">
            <iframe width="100%" height="180"
            src="<%= track.url.gsub('watch?v=', 'embed/') %>"
            title="<%= track.title %>"
            frameborder="0"
            allowfullscreen>
            </iframe>
            <h5><%= track.title %></h5>
            <p class="mb-1"><strong>Artist:</strong> <%= track.artist %></p>
            <p class="mb-1"><strong>Duration:</strong> <%= track.duration %> seconds</p>
            <p class="mb-0">
              <%= link_to "Listen", track.url, target: "_blank", class: "btn btn-sm btn-outline-primary" %>
            </p>
            <p class="mb-0">
              <%= link_to "Delete", track_path(track), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn btn-danger" %>
            </p>
          </div>
        <% end %>
      <% else %>
        <p class="text-muted">No tracks yet. Add your first track below!</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @user_playlists.present? %>
        <ul>
          <% @user_playlists.each do |playlist| %>
            <li><%= link_to playlist.title, playlist_path(playlist) %> </li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
      <%= link_to "Create New Playlist", new_playlist_path(@chat), class: "btn btn-primary mb-3"%>
    </div>
  </div>

   <div id="new_message_container">
    <%= simple_form_for [@chat, @message] do |f| %>
      <%= f.input :content, label: false, required: true, placeholder: "I want to discover new muzik" %>
      <%= f.button :submit, 'Add to Playlist', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <%= link_to "Back to playlists", playlists_path, class: "button" %>
