<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1><%= @playlist.title %></h1>
      <%= bookmark_button(@playlist) %>
    </div
    <%= raw((@playlist.content)) %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @playlist.chats.any? %>
        <ul>
          <% @playlist.chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
      <%# <%= button_to "New chat", playlist_chats_path(@playlist), class: "btn btn-primary" %> %>
    </div>
  </div>
</div>

<%= link_to "Back to playlists", playlists_path, class: "button" %>
