<!DOCTYPE html>
<html>
  <head>
    <title>Muzik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="custom-cursor" class="d-flex flex-column min-vh-100">
    <!-- Custom Cursor Elements -->
    <div class="custom-cursor-dot" data-custom-cursor-target="dot"></div>
    <div class="custom-cursor-circle" data-custom-cursor-target="circle"></div>

    <%= render "shared/navbar" %>
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
